[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
{{ cookiecutter.project_slug }} = {path = ".", editable = true, extras = ["test", "docs", "dev"]}

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
