[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
{{ cookiecutter.project_slug }} = {path = ".", editable = true, extras = ["test", "docs"]}

[dev-packages]
twine = "*"
invoke = "*"
colorama = "*"
parver = "*"
black = "*"
flake8 = "*"
flake8-docstrings = "*"
towncrier = "*"
vprof = "*"
mypy = "*"
pytype = "*"
pre-commit = "*"
readme_renderer = {version = "*", extras = ["md"]}
pip-licenses = "*"
rope = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
